<div class="container">
  <div cdkDropListGroup class="row">
    <ng-container *ngIf="boardContent !== undefined">
      <app-task-list
        cdkDropList
        class="list"
        *ngFor="let taskList of boardContent.taskLists"
        [cdkDropListData]="taskList"
        (cdkDropListDropped)="drop($event)"
        [list]="taskList"
      >
      </app-task-list>
    </ng-container>
    <div class="list">
      <button mat-button class="btn" color="primary" (click)="updateTaskList()">
        <mat-icon>add</mat-icon>
        Add task list
      </button>
    </div>
  </div>
</div>
