<div class="home-page">
  <div class="header">
    <div class="greeting">
      <div class="title">
        <h2>Lorem, ipsum dolor.</h2>
      </div>
      <div class="subtitle">
        <h3>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui, nam?
        </h3>
      </div>
    </div>
    <div class="actions">
      <div class="action">
        <button mat-raised-button color="primary" type="button">Sign-in</button>
      </div>
      <div class="action">
        <button mat-raised-button color="warn" type="button">Sign-Up</button>
      </div>
    </div>
  </div>
  <div class="description">
    <div class="text">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat soluta
      nisi non praesentium sunt tempore, voluptatum recusandae magni, voluptate
      voluptatibus deleniti dolor, maiores aperiam? Quas quasi doloremque dicta
      eos laborum, impedit nisi ipsam temporibus veritatis quibusdam earum
      doloribus, aut similique!
    </div>
    <div class="text">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat soluta
      nisi non praesentium sunt tempore, voluptatum recusandae magni, voluptate
      voluptatibus deleniti dolor, maiores aperiam? Quas quasi doloremque dicta
      eos laborum, impedit nisi ipsam temporibus veritatis quibusdam earum
      doloribus, aut similique!
    </div>
    <div class="text">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat soluta
      nisi non praesentium sunt tempore, voluptatum recusandae magni, voluptate
      voluptatibus deleniti dolor, maiores aperiam? Quas quasi doloremque dicta
      eos laborum, impedit nisi ipsam temporibus veritatis quibusdam earum
      doloribus, aut similique!
    </div>
  </div>
</div>
