<div class="board-preview-list">
  <ul class="board-preview-list__list">
    <ng-container *ngIf="boardPreviewList">
      <li
        class="board-preview-list__item"
        *ngFor="let boardPreview of boardPreviewList"
        (click)="openBoard(boardPreview.boardContentId)"
      >
        <span>{{ boardPreview.name }}</span>
      </li>
    </ng-container>

    <li class="board-preview-list__item">
      <button
        mat-icon-button
        class="icon"
        aria-label="Icon-button with add icon"
        (click)="openBoardCreationalDialog()"
      >
        <mat-icon>add</mat-icon>
      </button>
    </li>
  </ul>
</div>
